.example-card{
    width: 600px;
    height: 600px;
}
.mat-select
{
    max-width: 150px!important;
}
.mat-card-content{
    min-height: 150px;
    font-size: 65px;
}
.mat-label{
font-size: -webkit-xxx-large!important;
}

.center
{
    display: flex;
    justify-content: center;
}
.mat-figure{
    width: 100%;
    height: 100%;
}
.mat-form-field{
font-size: 50px;
}