<mat-grid-list cols="4">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card class="example-card">
    <img mat-card-image src="{{product.imageLink}}" alt="Photo of a Speaker">
    <mat-card-content>
        <span class="center">{{product.name}} </span>
        <span class="center">{{product.price*getRate()}} </span> 
    </mat-card-content>
  </mat-card>
</mat-grid-tile>
<mat-grid-tile >

<mat-form-field>
  <mat-label>Currency</mat-label>
  <mat-select [(value)]="selected" placeholder="INR" (selectionChange)="setRate($event.value)">
    <mat-option value="INR">INR</mat-option>
    <mat-option value="USD">USD</mat-option>
  </mat-select>
</mat-form-field>
</mat-grid-tile>
</mat-grid-list>